.alice-carousel__stage-item.__active.__target{
    cursor: grab;
}.alice-carousel__stage-item.__active.__target:active{
    cursor: grabbing;
}
.alice-carousel__dots{
    margin: 0;
}

.alice-carousel__dots-item:not(.__custom){
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 20px;
    background-color: #FFFFFF7F;
}
.alice-carousel__dots-item:not(.__custom):not(:last-child){
    margin-right: 5px;
}
.alice-carousel__dots-item:not(.__custom):not(.__active):hover{
    transform: translateX(-1px);
}
.alice-carousel__dots-item:not(.__custom).__active{
    background-color: #7572D5;
    width: 20px;
    cursor: auto;
}